* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d3d3d3;
  font-family: 'Lato', sans-serif;
}

.bars {
  position: static;
  display: block;
  width: 28px;
  height: 4px;
  margin: 5px 10px;
  background-color: #000;
}

.hambuger-menu {
  position: static;
  margin: 3% 5%;
  z-index: 3;
}

.hambuger-menu.active .bars:nth-child(2) {
  opacity: 0;
}

.hambuger-menu.active .bars:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hambuger-menu.active .bars:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

ul li,
a {
  margin-top: 38px;
  list-style: none;
}

.navbar-links {
  position: absolute;
  background-color: #000;
  width: 100vw;
  opacity: 0.9;
  height: 80vh;
  display: none;
}

.nav-items li,
a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  margin: 0 24px;
}

.introductory-section {
  background-image: url("images/content-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 3%;
}

.introduction .hello {
  font-size: 8vw;
  font-weight: 400;
  color: #c51700;
  background: none;
  float: left;
  border: none;
}

.introductory-section h1 {
  font-size: 8vw;
  letter-spacing: 3px;
  background: url("images/profile-image.jpg") 50% 50%;
  background-size: cover;
  margin: 0 8%;
  font-weight: bolder;
  color: rgba(245, 11, 11, 0.5);
  -webkit-background-clip: text;
}

.introductory-section p {
  margin: 24px 20px;
  background-color: #d3d3d3;
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  border: 3px solid white;
}

.introductory-section h2,
h3 {
  margin-bottom: 24px;
  margin-left: 12px;
}

.events-section {
  background-image: url("images/section.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 3%;
}

.main-program {
  display: flex;
  flex-direction: column;
}

.main-program h2 {
  color: white;
  font-size: 20px;
  text-align: center;
  text-decoration: underline solid orangered;
  text-decoration-thickness: 3px;
  margin: 30px 24px;
}

.content h2,
h3 {
  padding: 6px;
}

.content h3 {
  font-size: 14px;
  font-style: italic;
  color: red;
}

.events {
  display: grid;
  grid-template-columns: 1fr 4fr 5fr;
  background-color: rgba(71, 71, 77, 0.61);
  margin: 10px;
  padding: 4px;
  align-items: center;
}

.events h3 {
  color: rgb(245, 11, 11);
}

.content p {
  font-size: 14px;
  margin: 0;
  color: #272a31;
}

.events p {
  color: rgba(255, 255, 255, 0.836);
}

i {
  font-size: 30px;
  color: #fff;
}

button {
  background-color: rgb(230, 24, 24);
  color: white;
  font-size: 20px;
  padding: 8px;
  height: 70px;
  width: 70%;
  margin: 20% 15%;
  border: none;
}

.featured-speaker-section {
  background-color: white;
  margin: 0 3%;
}

.speakers-title {
  text-align: center;
  padding: 5px;
  text-decoration: underline solid orangered;
  text-decoration-thickness: 3px;
}

.speaker {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  margin: 3% 0;
}

.speaker img {
  position: relative;
  top: 15px;
  left: 15px;
  width: 18vw;
  height: 16vh;
}

#profile-bg {
  position: relative;
  background: url("images/profile-image.jpg");
  background-size: contain;
  width: 10vw;
  height: 8vh;
}

.content h2 {
  font-size: 18px;
}

.btn {
  width: 80%;
  margin: 10%;
  color: black;
  background-color: rgb(230, 206, 206);
  border: 2px solid #e72006;
  padding: 12px;
}

.partners {
  background-color: #272a31;
  margin: 4% 3%;
}

.partners h2 {
  text-align: center;
  margin: 24px;
  padding: 34px;
  text-decoration: underline solid orangered;
  text-decoration-thickness: 2px;
  color: white;
}

.brand-list {
  display: flex;
  justify-content: space-around;
}

.brands img {
  width: 50px;
  height: auto;
  margin-bottom: 30px;
}

.footer-container {
  background-color: rgb(221, 213, 213);
  margin: 0 3%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.hide {
  display: none;
}

.active {
  display: block;
}

/* desktop version */

@media only screen and (min-width: 768px) {
  .hide {
    display: block;
  }

  .mobile {
    display: none;
  }

  #desktop {
    display: none;
  }

  #desktop2 {
    display: none;
  }

  .social-links {
    background-color: #272a31;
    margin: 0 3%;
  }

  .social-links ul {
    display: flex;
    justify-content: flex-end;
  }

  .social-links ul,
  li a {
    padding: 2px;
    margin-right: 20px;
    color: white;
    list-style: none;
  }

  .hambuger-menu {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 0 3%;
  }

  .logo img {
    width: 80px;
  }

  .navbar-links {
    position: relative;
    display: flex;
    width: auto;
    height: auto;
    margin: 0 12px;
    background-color: white;
  }

  .navbar-links li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
  }

  #campaign {
    margin-right: 0;
    border: 5px solid #c51700;
  }

  .introductory-section h1 {
    font-size: 6vw;
    letter-spacing: 3px;
    background: url("images/profile-image.jpg") 50% 50%;
    background-size: cover;
    margin: 0 8%;
    font-weight: bolder;
    color: rgba(245, 11, 11, 0.5);
    -webkit-background-clip: text;
  }

  .introduction .hello {
    font-size: 4vw;
    font-weight: 400;
    color: #c51700;
    background: none;
    border: none;
    text-align: start;
    margin: 0 6%;
    width: 80%;
    float: left;
  }

  .introductory-section p {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    padding: 20px;
    width: 40vw;
    margin: 2% 8%;
  }

  .introductory-section h2,
  h3 {
    margin: 2% 8%;
    font-weight: 600;
  }

  .main-program {
    display: flex;
    flex-direction: column;
  }

  .main-program h2 {
    font-size: 30px;
    margin: 35px 0;
    text-decoration-thickness: 4px;
  }

  .events-section {
    display: flex;
    background: #000;
  }

  .events-flex {
    display: flex;
    margin: 4% 3%;
  }

  .events {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(84, 84, 86, 0.61);
    margin: 1.2px;
    height: auto;
  }

  .events:hover {
    border: 2px solid #d3d3d3;
  }

  .events h3 {
    color: rgb(230, 24, 24);
    font-size: 20px;
    text-align: center;
    margin: 4% 0;
  }

  .events p {
    color: rgba(255, 255, 255, 0.836);
    text-align: center;
    font-size: 18px;
    width: 80%;
    height: auto;
    padding: 4px;
    margin: 3% 4%;
  }

  i {
    font-size: 40px;
    color: #fff;
    margin: 3% 0;
    padding: 5px;
  }

  .see-program {
    text-align: center;
    margin: 3% 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: underline;
    text-decoration-thickness: 4px;
  }

  button {
    display: none;
  }

  .speakers-title {
    text-align: center;
    font-size: 25px;
    margin: 5%;
    text-decoration: underline solid orangered;
    text-decoration-thickness: 3px;
  }

  .speaker {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6% 3%;
  }

  .speakers {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    align-items: center;
  }

  .speaker img {
    position: relative;
    top: 30px;
    left: 30px;
    width: 10vw;
    height: auto;
  }

  #profile-bg {
    position: relative;
    background: url("images/profile-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 8vw;
    height: 18vh;
  }

  .btn {
    display: none;
  }
}
