* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d3d3d3;
}

header {
  background-image: url("images/banner-image.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 40vh;
  width: 100vw;
}

.bars {
  display: block;
  width: 28px;
  height: 4px;
  margin: 5px 10px;
  background-color: #272a31;
}

.hambuger-menu {
  margin-top: 20px;
  margin-left: 15px;
}

.introductory-section {
  background-image: url("images/content-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
